body {
    background-color: cadetblue;
}

td.celula-dezena{
    padding: 5px
}
td.celula-dezena:hover{
    background-color: blue;
    cursor: pointer;
}

td.selecionada {
    background-color: green;
}